.jb-product-card {
    &__main-container {
        margin-top: var(--jb-product-card-main-container-margin-top, 0);
        margin-bottom: var(--jb-product-card-main-container-margin-bottom, 0);
        margin-left: var(--jb-product-card-main-container-margin-left, 0);
        margin-right: var(--jb-product-card-main-container-margin-right, 0);
        min-height: var(--jb-product-card-main-container-min-height, initial);

        &__image__container {
            &__img {
                width: 100%;
                box-shadow: var(--jb-product-card-image-box-shadow, none);
                border-radius: var(--jb-product-card-image-border-radius, 0);
            }

            nb-skeleton {
                --skeleton-height: var(--jb-product-card-image-skeleton-height, initial);
            }
        }

        &__data-container {
            margin-top: var(--jb-product-card-data-container-margin-top, 0);
            margin-bottom: var(--jb-product-card-data-container-margin-bottom, 0);
            margin-left: var(--jb-product-card-data-container-margin-left, 0);
            margin-right: var(--jb-product-card-data-container-margin-right, 0);

            &__title {
                color: var(--jb-product-card-data-container-title-color, black);
                font-size: var(--jb-product-card-data-container-title-font-size, 20px);
                font-weight: var(--jb-product-card-data-container-title-font-weight, normal);
                margin-top: var(--jb-product-card-data-container-title-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-title-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-title-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-title-margin-right, 0);

                p {
                    margin: 0;
                }
            }

            &__description {
                color: var(--jb-product-card-data-container-description-color, black);
                font-size: var(--jb-product-card-data-container-description-font-size, 16px);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin-top: var(--jb-product-card-data-container-description-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-description-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-description-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-description-margin-right, 0);

                p {
                    margin: 0;
                }
            }

            &__footer {
                &__left {
                    color: var(--jb-product-card-data-container-footer-left-color, black);
                    font-size: var(--jb-product-card-data-container-footer-left-font-size, 16px);
                }

                &__right {
                    color: var(--jb-product-card-data-container-footer-right-color, black);
                    font-size: var(--jb-product-card-data-container-footer-right-font-size, 16px);
                }
            }
        }
    }
}

:host([view="horizontal"]) {
    .jb-product-card {
        &__main-container {
            margin-top: var(--jb-product-card-horizontal-main-container-margin-top, 0);
            margin-bottom: var(--jb-product-card-horizontal-main-container-margin-bottom, 0);
            margin-left: var(--jb-product-card-horizontal-main-container-margin-left, 0);
            margin-right: var(--jb-product-card-horizontal-main-container-margin-right, 0);
            display: flex;

            &__image__container {
                flex: 1.2;

                &__img {
                    width: 100%;
                    box-shadow: var(--jb-product-card-horizontal-image-box-shadow, none);
                }
            }

            &__data-container {
                flex: 3;
                margin-top: var(--jb-product-card-horizontal-data-container-margin-top, 0);
                margin-bottom: var(--jb-product-card-horizontal-data-container-margin-bottom, 0);
                margin-left: var(--jb-product-card-horizontal-data-container-margin-left, 8px);
                margin-right: var(--jb-product-card-horizontal-data-container-margin-right, 0);

                &__title {
                    font-size: var(--jb-product-card-horizontal-data-container-title-font-size, 20px);
                    margin-top: var(--jb-product-card-horizontal-data-container-title-margin-top, 0);
                    margin-bottom: var(--jb-product-card-horizontal-data-container-title-margin-bottom, 8px);
                    margin-left: var(--jb-product-card-horizontal-data-container-title-margin-left, 0);
                    margin-right: var(--jb-product-card-horizontal-data-container-title-margin-right, 0);
                }

                &__description {
                    font-size: var(--jb-product-card-horizontal-data-container-description-font-size, 16px);
                    margin-top: var(--jb-product-card-horizontal-data-container-description-margin-top, 0);
                    margin-bottom: var(--jb-product-card-horizontal-data-container-description-margin-bottom, 8px);
                    margin-left: var(--jb-product-card-horizontal-data-container-description-margin-left, 0);
                    margin-right: var(--jb-product-card-horizontal-data-container-description-margin-right, 0);
                }

                &__footer {
                    display: flex;
                    align-items: center;

                    &__left {
                        flex: 2;
                        p {
                            margin: 0;
                        }
                    }

                    &__right {
                        flex: 1;
                        text-align: right;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

:host([view="vertical"]) {
    .jb-product-card {
        &__main-container {
            margin-top: var(--jb-product-card-vertical-main-container-margin-top, 0);
            margin-bottom: var(--jb-product-card-vertical-main-container-margin-bottom, 8px);
            margin-left: var(--jb-product-card-vertical-main-container-margin-left, 0);
            margin-right: var(--jb-product-card-vertical-main-container-margin-right, 0);
            display: flex;
            flex-direction: column;
            height: var(--jb-product-card-vertical-main-container-height, initial);

            &__image__container {
                flex: 1;
                margin-bottom: var(--jb-product-card-vertical-image-margin-bottom, 8px);

                &__img {
                    width: var(--jb-product-card-vertical-image-width, 100%);
                    box-shadow: var(--jb-product-card-vertical-image-box-shadow, none);
                }
            }

            &__data-container {
                margin-top: var(--jb-product-card-vertical-data-container-margin-top, 0);
                margin-bottom: var(--jb-product-card-vertical-data-container-margin-bottom, 0);
                margin-left: var(--jb-product-card-vertical-data-container-margin-left, 0);
                margin-right: var(--jb-product-card-vertical-data-container-margin-right, 0);

                &__title {
                    font-size: var(--jb-product-card-vertical-data-container-title-font-size, 20px);
                    margin-top: var(--jb-product-card-vertical-data-container-title-margin-top, 0);
                    margin-bottom: var(--jb-product-card-vertical-data-container-title-margin-bottom, 8px);
                    margin-left: var(--jb-product-card-vertical-data-container-title-margin-left, 0);
                    margin-right: var(--jb-product-card-vertical-data-container-title-margin-right, 0);
                }

                &__description {
                    font-size: var(--jb-product-card-vertical-data-container-description-font-size, 16px);
                    margin-top: var(--jb-product-card-vertical-data-container-description-margin-top, 0);
                    margin-bottom: var(--jb-product-card-vertical-data-container-description-margin-bottom, 0);
                    margin-left: var(--jb-product-card-vertical-data-container-description-margin-left, 0);
                    margin-right: var(--jb-product-card-vertical-data-container-description-margin-right, 0);
                }
            }
        }
    }
}

jb-button {
    --jb-button-primary-bg-color: var(--jb-product-card-button-primary-bg, blue);
    --jb-button-primary-color: var(--jb-product-card-button-primary-color, white);
    --jb-button-main-border-size: var(--jb-product-card-button-border-size, 1px);
    --jb-button-main-padding-vertical: var(--jb-product-card-button-padding-vertical, 8px);
    --jb-button-main-padding-horizontal: var(--jb-product-card-button-padding-horizontal, 16px);
    --jb-button-main-border-radius: var(--jb-product-card-button-border-radius, 0);
}

nb-skeleton {
    --skeleton-margin-bottom: 1px;
}