$default-font-weight: normal;
$default-font-size: 16px;
$default-color: black;

.jb-product-card {
    &__main-container {
        margin-top: var(--jb-product-card-main-container-margin-top, 0);
        margin-bottom: var(--jb-product-card-main-container-margin-bottom, 0);
        margin-left: var(--jb-product-card-main-container-margin-left, 0);
        margin-right: var(--jb-product-card-main-container-margin-right, 0);
        min-height: var(--jb-product-card-main-container-min-height, initial);
        border-radius: var(--jb-product-card-main-container-border-radius, 0);
        border-top-left-radius: var(--jb-product-card-main-container-border-top-left-radius, var(--jb-product-card-main-container-border-radius, 0));
        border-top-right-radius: var(--jb-product-card-main-container-border-top-right-radius, var(--jb-product-card-main-container-border-radius, 0));
        border-bottom-left-radius: var(--jb-product-card-main-container-border-bottom-left-radius, var(--jb-product-card-main-container-border-radius, 0));
        border-bottom-right-radius: var(--jb-product-card-main-container-border-bottom-right-radius, var(--jb-product-card-main-container-border-radius, 0));
        box-shadow: var(--jb-product-card-main-container-box-shadow, none);
        background-color: var(--jb-product-card-main-container-bg-color, none);
        align-items: var(--jb-product-card-main-container-align-items, initial);
        height: var(--jb-product-card-main-container-height, initial);
        overflow: hidden;

        &__image__container {
            width: var(--jb-product-card-image-container-width, 100%);
            height: var(--jb-product-card-image-container-height, initial);
            font-size: 0;

            &__img {
                width: var(--jb-product-card-image-width, 100%);
                height: var(--jb-product-card-image-height, initial);
                box-shadow: var(--jb-product-card-image-box-shadow, none);
                border-radius: var(--jb-product-card-image-border-radius, 0);
                border-top-left-radius: var(--jb-product-card-image-border-top-left-radius, var(--jb-product-card-image-border-radius, 0));
                border-top-right-radius: var(--jb-product-card-image-border-top-right-radius, var(--jb-product-card-image-border-radius, 0));
                border-bottom-left-radius: var(--jb-product-card-image-border-bottom-left-radius, var(--jb-product-card-image-border-radius, 0));
                border-bottom-right-radius: var(--jb-product-card-image-border-bottom-right-radius, var(--jb-product-card-image-border-radius, 0));
            }

            nb-skeleton {
                --skeleton-height: var(--jb-product-card-image-skeleton-height, initial);
            }
        }

        &__data-container {
            margin-top: var(--jb-product-card-data-container-margin-top, 0);
            margin-bottom: var(--jb-product-card-data-container-margin-bottom, 0);
            margin-left: var(--jb-product-card-data-container-margin-left, 0);
            margin-right: var(--jb-product-card-data-container-margin-right, 0);

            &__title {
                color: var(--jb-product-card-data-container-title-color, black);
                font-size: var(--jb-product-card-data-container-title-font-size, 20px);
                font-weight: var(--jb-product-card-data-container-title-font-weight, normal);
                margin-top: var(--jb-product-card-data-container-title-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-title-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-title-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-title-margin-right, 0);

                p {
                    margin: 0;
                }
            }

            &__subTitle {
                color: var(--jb-product-card-data-container-subtitle-color, black);
                font-size: var(--jb-product-card-data-container-subtitle-font-size, 16px);
                font-weight: var(--jb-product-card-data-container-subtitle-font-weight, normal);
                margin-top: var(--jb-product-card-data-container-subtitle-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-subtitle-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-subtitle-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-subtitle-margin-right, 0);

                p {
                    margin: 0;
                }
            }

            &__description {
                color: var(--jb-product-card-data-container-description-color, black);
                font-size: var(--jb-product-card-data-container-description-font-size, 16px);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin-top: var(--jb-product-card-data-container-description-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-description-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-description-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-description-margin-right, 0);

                p {
                    margin: 0;
                }
            }

            &__date {
                margin-top: var(--jb-product-card-data-container-date-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-date-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-date-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-date-margin-right, 0);
                color: var(--jb-product-card-data-container-date-color, $default-color);
                font-size: var(--jb-product-card-data-container-date-font-size, $default-font-size);
                font-weight: var(--jb-product-card-data-container-date-font-weight, $default-font-weight);
                display: flex;
                align-items: center;

                &__text {
                    --jb-date-main-container-margin-top: var(--jb-product-card-data-container-date-margin-top, 0);
                    --jb-date-main-container-margin-bottom: var(--jb-product-card-data-container-date-margin-bottom, 0);
                    --jb-date-main-container-margin-left: var(--jb-product-card-data-container-date-margin-left, 0);
                    --jb-date-main-container-margin-right: var(--jb-product-card-data-container-date-margin-right, 0);
                    --jb-date-main-container-color: var(--jb-product-card-data-container-date-color, $default-color);
                    --jb-date-main-container-font-size: var(--jb-product-card-data-container-date-font-size, $default-font-size);
                    --jb-date-main-container-font-weight: var(--jb-product-card-data-container-date-font-weight, $default-font-weight);
                    --jb-date-main-container-text-margin-top: var(--jb-product-card-data-container-date-text-margin-top, 0);
                    --jb-date-main-container-text-margin-bottom: var(--jb-product-card-data-container-date-text-margin-bottom, 0);
                    --jb-date-main-container-text-margin-left: var(--jb-product-card-data-container-date-text-margin-left, 0);
                    --jb-date-main-container-text-margin-right: var(--jb-product-card-data-container-date-text-margin-right, 0);
                    --jb-date-main-container-text-color: var(--jb-product-card-data-container-date-text-color, $default-color);
                    --jb-date-main-container-text-font-size: var(--jb-product-card-data-container-date-text-font-size, $default-font-size);
                    --jb-date-main-container-text-font-weight: var(--jb-product-card-data-container-date-text-font-weight, $default-font-weight);
                    --jb-date-main-container-icon-margin-top: var(--jb-product-card-data-container-date-icon-margin-top, 0);
                    --jb-date-main-container-icon-margin-bottom: var(--jb-product-card-data-container-date-icon-margin-bottom, 0);
                    --jb-date-main-container-icon-margin-left: var(--jb-product-card-data-container-date-icon-margin-left, 0);
                    --jb-date-main-container-icon-margin-right: var(--jb-product-card-data-container-date-icon-margin-right, 4px);
                    --jb-date-main-container-icon-color: var(--jb-product-card-data-container-date-icon-color, $default-color);
                    --jb-date-main-container-icon-font-size: var(--jb-product-card-data-container-date-icon-font-size, $default-font-size);
                    --jb-date-main-container-icon-font-weight: var(--jb-product-card-data-container-date-icon-font-weight, $default-font-weight);
                }
            }

            &__countdown {
                margin-top: var(--jb-product-card-data-container-countdown-margin-top, 0);
                margin-bottom: var(--jb-product-card-data-container-countdown-margin-bottom, 8px);
                margin-left: var(--jb-product-card-data-container-countdown-margin-left, 0);
                margin-right: var(--jb-product-card-data-container-countdown-margin-right, 0);

                jb-countdown {
                    --jb-countdown-container-width: var(--jb-product-card-data-container-countdown-container-width, 100%);
                    --jb-countdown-container-color: var(--jb-product-card-data-container-countdown-container-color, $default-color);
                    --jb-countdown-container-font-size: var(--jb-product-card-data-container-countdown-container-font-size, $default-font-size);
                    --jb-countdown-container-font-weight: var(--jb-product-card-data-container-countdown-container-font-weight, $default-font-weight);
                    --jb-countdown-container-margin-top: var(--jb-product-card-data-container-countdown-container-margin-top, 0);
                    --jb-countdown-container-margin-bottom: var(--jb-product-card-data-container-countdown-container-margin-bottom, 0);
                    --jb-countdown-container-margin-right: var(--jb-product-card-data-container-countdown-container-margin-right, 0);
                    --jb-countdown-container-margin-left: var(--jb-product-card-data-container-countdown-container-margin-left, 0);
                    --jb-countdown-container-display: var(--jb-product-card-data-container-countdown-container-display, block);
                    --jb-countdown-container-align-items: var(--jb-product-card-data-container-countdown-container-align-items, none);
                    --jb-countdown-container-label-font-size: var(--jb-product-card-data-container-countdown-container-label-font-size, $default-font-size);
                    --jb-countdown-container-label-font-weight: var(--jb-product-card-data-container-countdown-container-label-font-weight, $default-font-weight);
                    --jb-countdown-container-label-margin-top: var(--jb-product-card-data-container-countdown-container-label-margin-top, 0);
                    --jb-countdown-container-label-margin-bottom: var(--jb-product-card-data-container-countdown-container-label-margin-bottom, 0);
                    --jb-countdown-container-label-margin-right: var(--jb-product-card-data-container-countdown-container-label-margin-right, 0);
                    --jb-countdown-container-label-margin-left: var(--jb-product-card-data-container-countdown-container-label-margin-left, 0);
                    --jb-countdown-container-label-text-align: var(--jb-product-card-data-container-countdown-container-label-text-align, left);
                    --jb-countdown-container-date-width: var(--jb-product-card-data-container-countdown-container-date-width, 100%);
                    --jb-countdown-container-date-text-align: var(--jb-product-card-data-container-countdown-container-date-text-align, left);
                    --jb-countdown-container-date-item-flex: var(--jb-product-card-data-container-countdown-container-date-item-flex, none);
                    --jb-countdown-container-date-item-margin-top: var(--jb-product-card-data-container-countdown-container-date-item-margin-top, 0);
                    --jb-countdown-container-date-item-margin-bottom: var(--jb-product-card-data-container-countdown-container-date-item-margin-bottom, 0);
                    --jb-countdown-container-date-item-margin-right: var(--jb-product-card-data-container-countdown-container-date-item-margin-right, 8px);
                    --jb-countdown-container-date-item-margin-left: var(--jb-product-card-data-container-countdown-container-date-item-margin-left, 0);
                    --jb-countdown-container-date-item-value-font-size: var(--jb-product-card-data-container-countdown-container-date-item-value-font-size, $default-font-size);
                    --jb-countdown-container-date-item-value-font-weight: var(--jb-product-card-data-container-countdown-container-date-item-value-font-weight, $default-font-size);
                    --jb-countdown-container-date-item-value-color: var(--jb-product-card-data-container-countdown-container-date-item-value-color, $default-color);
                    --jb-countdown-container-date-item-label-font-size: var(--jb-product-card-data-container-countdown-container-date-item-label-font-size, $default-font-size);
                    --jb-countdown-container-date-item-label-font-weight: var(--jb-product-card-data-container-countdown-container-date-item-label-font-weight, $default-font-size);
                    --jb-countdown-container-date-item-label-color: var(--jb-product-card-data-container-countdown-container-date-item-label-color, $default-color);
                }
            }

            &__footer {
                &__left {
                    color: var(--jb-product-card-data-container-footer-left-color, black);
                    font-size: var(--jb-product-card-data-container-footer-left-font-size, 16px);
                }

                &__right {
                    color: var(--jb-product-card-data-container-footer-right-color, black);
                    font-size: var(--jb-product-card-data-container-footer-right-font-size, 16px);
                }
            }
        }
    }
}

:host([view="horizontal"]) {
    .jb-product-card {
        &__main-container {
            margin-top: var(--jb-product-card-horizontal-main-container-margin-top, 0);
            margin-bottom: var(--jb-product-card-horizontal-main-container-margin-bottom, 0);
            margin-left: var(--jb-product-card-horizontal-main-container-margin-left, 0);
            margin-right: var(--jb-product-card-horizontal-main-container-margin-right, 0);
            display: flex;
            overflow: hidden;

            &__image__container {
                flex: 1.2;
                height: var(--jb-product-card-horizontal-image-container-height, initial);
                overflow: hidden;
                display: flex;
                justify-content: center;

                &__img {
                    width: var(--jb-product-card-horizontal-image-width, 100%);
                    box-shadow: var(--jb-product-card-horizontal-image-box-shadow, none);
                }
            }

            &__data-container {
                flex: 3;
                margin-top: var(--jb-product-card-horizontal-data-container-margin-top, 0);
                margin-bottom: var(--jb-product-card-horizontal-data-container-margin-bottom, 0);
                margin-left: var(--jb-product-card-horizontal-data-container-margin-left, 8px);
                margin-right: var(--jb-product-card-horizontal-data-container-margin-right, 0);
                overflow: hidden;

                &__title {
                    font-size: var(--jb-product-card-horizontal-data-container-title-font-size, 20px);
                    margin-top: var(--jb-product-card-horizontal-data-container-title-margin-top, 0);
                    margin-bottom: var(--jb-product-card-horizontal-data-container-title-margin-bottom, 8px);
                    margin-left: var(--jb-product-card-horizontal-data-container-title-margin-left, 0);
                    margin-right: var(--jb-product-card-horizontal-data-container-title-margin-right, 0);
                    padding-right: var(--jb-product-card-horizontal-data-container-title-padding-right, 0);

                    p {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                &__description {
                    font-size: var(--jb-product-card-horizontal-data-container-description-font-size, 16px);
                    margin-top: var(--jb-product-card-horizontal-data-container-description-margin-top, 0);
                    margin-bottom: var(--jb-product-card-horizontal-data-container-description-margin-bottom, 8px);
                    margin-left: var(--jb-product-card-horizontal-data-container-description-margin-left, 0);
                    margin-right: var(--jb-product-card-horizontal-data-container-description-margin-right, 0);
                }

                &__footer {
                    display: flex;
                    align-items: center;

                    &__left {
                        flex: 2;
                        p {
                            margin: 0;
                        }
                    }

                    &__right {
                        text-align: right;
                        min-width: 20%;
                        
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

:host([view="vertical"]) {
    .jb-product-card {
        &__main-container {
            margin-top: var(--jb-product-card-vertical-main-container-margin-top, 0);
            margin-bottom: var(--jb-product-card-vertical-main-container-margin-bottom, 8px);
            margin-left: var(--jb-product-card-vertical-main-container-margin-left, 0);
            margin-right: var(--jb-product-card-vertical-main-container-margin-right, 0);
            display: flex;
            flex-direction: column;
            height: var(--jb-product-card-vertical-main-container-height, initial);

            &__image__container {
                display: flex;
                flex: 1;
                justify-content: center;
                margin-bottom: var(--jb-product-card-vertical-image-margin-bottom, 8px);

                &__img {
                    margin: 0 auto;
                    width: var(--jb-product-card-vertical-image-width, 100%);
                    box-shadow: var(--jb-product-card-vertical-image-box-shadow, none);
                }
            }

            &__data-container {
                margin-top: var(--jb-product-card-vertical-data-container-margin-top, 0);
                margin-bottom: var(--jb-product-card-vertical-data-container-margin-bottom, 0);
                margin-left: var(--jb-product-card-vertical-data-container-margin-left, 0);
                margin-right: var(--jb-product-card-vertical-data-container-margin-right, 0);

                &__title {
                    font-size: var(--jb-product-card-vertical-data-container-title-font-size, 20px);
                    margin-top: var(--jb-product-card-vertical-data-container-title-margin-top, 0);
                    margin-bottom: var(--jb-product-card-vertical-data-container-title-margin-bottom, 8px);
                    margin-left: var(--jb-product-card-vertical-data-container-title-margin-left, 0);
                    margin-right: var(--jb-product-card-vertical-data-container-title-margin-right, 0);
                }

                &__description {
                    font-size: var(--jb-product-card-vertical-data-container-description-font-size, 16px);
                    margin-top: var(--jb-product-card-vertical-data-container-description-margin-top, 0);
                    margin-bottom: var(--jb-product-card-vertical-data-container-description-margin-bottom, 0);
                    margin-left: var(--jb-product-card-vertical-data-container-description-margin-left, 0);
                    margin-right: var(--jb-product-card-vertical-data-container-description-margin-right, 0);
                }
            }
        }
    }
}

:host([view="banner"]) {
    .jb-product-card {
        &__main-container {
            position: relative;
            display: flex;
            align-items: center;
            height: var(--jb-product-card-banner-main-container-height, initial);
            overflow: hidden;
            padding-top: var(--jb-product-card-banner-main-container-padding-top, 0);
            padding-bottom: var(--jb-product-card-banner-main-container-padding-bottom, 0);
            padding-left: var(--jb-product-card-banner-main-container-padding-left, 0);
            padding-right: var(--jb-product-card-banner-main-container-padding-right, 0);
            box-sizing: border-box;

            &__image__container {
                flex: 1;

                &__img {
                    width: var(--jb-product-card-banner-image-width, 100%);
                    box-shadow: var(--jb-product-card-banner-image-box-shadow, none);
                }
            }

            &__data-container {
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: var(--jb-product-card-banner-data-container-flex-direction, column);
                color: white;
                padding-top: var(--jb-product-card-banner-data-container-padding-top, 8px);
                padding-bottom: var(--jb-product-card-banner-data-container-padding-bottom, 8px);
                padding-left: var(--jb-product-card-banner-data-container-padding-left, 8px);
                padding-right: var(--jb-product-card-banner-data-container-padding-right, 8px);
                margin-top: var(--jb-product-card-banner-data-container-margin-top, 0);
                margin-bottom: var(--jb-product-card-banner-data-container-margin-bottom, 0);
                margin-left: var(--jb-product-card-banner-data-container-margin-left, 0);
                margin-right: var(--jb-product-card-banner-data-container-margin-right, 0);
                box-sizing: border-box;
                height: 100%;
                justify-content: center;
                background-color: var(--jb-product-card-banner-data-container-bg-color, rgba(0, 0, 0, 0.2));

                &__title {
                    color: white;
                    padding-top: var(--jb-product-card-banner-data-container-title-padding-top, 0);
                    padding-bottom: var(--jb-product-card-banner-data-container-title-padding-bottom, 0);
                    padding-left: var(--jb-product-card-banner-data-container-title-padding-left, 0);
                    padding-right: var(--jb-product-card-banner-data-container-title-padding-right, 0);
                    margin-top: var(--jb-product-card-banner-data-container-title-margin-top, 0);
                    margin-bottom: var(--jb-product-card-banner-data-container-title-margin-bottom, 0);
                    margin-left: var(--jb-product-card-banner-data-container-title-margin-left, 0);
                    margin-right: var(--jb-product-card-banner-data-container-title-margin-right, 0);
                    font-size: var(--jb-product-card-banner-data-container-title-font-size, 20px);
                    font-weight: var(--jb-product-card-banner-data-container-title-font-weight, normal);
                    line-height: var(--jb-product-card-banner-data-container-title-line-height, initial);
                    text-align: var(--jb-product-card-banner-data-container-title-text-align, left);
                }

                &__subTitle {
                    color: white;
                    padding-top: var(--jb-product-card-banner-data-container-subtitle-padding-top, 0);
                    padding-bottom: var(--jb-product-card-banner-data-container-subtitle-padding-bottom, 0);
                    padding-left: var(--jb-product-card-banner-data-container-subtitle-padding-left, 0);
                    padding-right: var(--jb-product-card-banner-data-container-subtitle-padding-right, 0);
                    margin-top: var(--jb-product-card-banner-data-container-subtitle-margin-top, 0);
                    margin-bottom: var(--jb-product-card-banner-data-container-subtitle-margin-bottom, 0);
                    margin-left: var(--jb-product-card-banner-data-container-subtitle-margin-left, 0);
                    margin-right: var(--jb-product-card-banner-data-container-subtitle-margin-right, 0);
                    font-size: var(--jb-product-card-banner-data-container-subtitle-font-size, 16px);
                    font-weight: var(--jb-product-card-banner-data-container-subtitle-font-weight, normal);
                    letter-spacing: var(--jb-product-card-banner-data-container-subtitle-letter-spacing, initial);
                }
            }
        }
    }
}

:host([isloading]) {
    .jb-product-card {
        &__main-container {
            overflow: hidden;
            box-shadow: var(--jb-product-card-isloading-main-container-box-shadow, none);
            border-top-left-radius: var(--jb-product-card-isloading-main-container-border-top-left-radius, none);
            border-bottom-left-radius: var(--jb-product-card-isloading-main-container-border-bottom-left-radius, none);

            &__data-container {
                &__date {
                    display: block;
                }
            }

            &__image__container {
                nb-skeleton {
                    width: var(--jb-product-card-isloading-main-container-image-container-width, initial);
                    border-top-left-radius: var(--jb-product-card-isloading-main-container-image-container-border-top-left-radius, none);
                    border-bottom-left-radius: var(--jb-product-card-isloading-main-container-image-container-border-bottom-left-radius, none);
                }
            }
        }
    }
}

jb-button {
    --jb-button-primary-bg-color: var(--jb-product-card-button-primary-bg, blue);
    --jb-button-primary-color: var(--jb-product-card-button-primary-color, white);
    --jb-button-main-border-size: var(--jb-product-card-button-border-size, 1px);
    --jb-button-main-padding-vertical: var(--jb-product-card-button-padding-vertical, 8px);
    --jb-button-main-padding-horizontal: var(--jb-product-card-button-padding-horizontal, 16px);
    --jb-button-main-border-radius: var(--jb-product-card-button-border-radius, 0);
}

nb-skeleton {
    --skeleton-margin-bottom: 1px;
    --skeleton-background: var(--jb-product-card-skeleton-background-color, #eff1f6);
}