$primaryBgColor: var(--jb-button-primary-bg-color, blue);
$primaryColor: var(--jb-button-primary-color, white);
$secondaryBgColor: var(--jb-button-secondary-bg-color, $primaryColor);
$secondaryColor: var(--jb-button-secondary-color, $primaryBgColor);
$disabledBgColor: var(--jb-button-disabled-bg-color, grey);
$disabledColor: var(--jb-button-disabled-color, white);
$borderSize: var(--jb-button-main-border-size, 1px);
$loader-color: $primaryColor;
$default-font-size: 15px;

.jb-button{
    &-main {
        display: flex;
        align-items: center;
        flex-direction: var(--jb-button-main-flex-direction, row);
        border: none;
        outline: none;
        padding: var(--jb-button-main-padding-vertical, 8px) var(--jb-button-main-padding-horizontal, 16px);
        border-radius: var(--jb-button-main-border-radius, 0);
        width: var(--jb-button-main-width, initial);
        box-shadow: var(--jb-button-main-box-shadow, none);
        justify-content: center;

        &__text {
            margin: 0;
            flex: var(--jb-button-main-text-flex, none);
            margin-top: var(--jb-button-main-text-margin-top, 0);
            margin-bottom: var(--jb-button-main-text-margin-bottom, 0);
            margin-left: var(--jb-button-main-text-margin-left, 0);
            margin-right: var(--jb-button-main-text-margin-right, 0);
        }

        &__loader {
            display: inline-block;
            width: $default-font-size;
            height: $default-font-size;
            border: 3px solid $loader-color;
            border-radius: 100%;
            border-top: 3px solid transparent;
	        animation: load-animate infinite linear 1s;
        }

        @keyframes load-animate {
            0% { 
                transform: rotate(0deg); 
            }
            50% { 
                transform: rotate(180deg);
                opacity: .35; 
            }
            100% { 
                transform: rotate(360deg)
            }
        }
    }
}

:host([loading]) {
    .jb-button{
        &-main {
            position: relative;

            &__text {
                visibility: hidden;
            }
    
            &__loader {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

:host([primary]) {
    .jb-button{
        &-main {
            border: #{$borderSize} solid #{$primaryBgColor};
            background-color: #{$primaryBgColor};
            color:#{$primaryColor};
        }
    }
}

:host([secondary]) {
    .jb-button{
        &-main {
            background-color: #{$secondaryBgColor};
            color:#{$secondaryColor};
            border: #{$borderSize}  solid #{$secondaryColor};
        }
    }
}

:host([disabled]) {
    .jb-button{
        &-main {
            box-shadow: var(--jb-button-disabled-main-box-shadow, none);
            opacity: var(--jb-button-disabled-main-opacity, 0.2);
            filter: var(--jb-button-disabled-main-filter, grayscale(100%));
            -webkit-filter: var(--jb-button-disabled-main-filter, grayscale(100%));
            -moz-filter: var(--jb-button-disabled-main-filter, grayscale(100%));
        }
    }
}